{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<section class="top-space-margin half-section bg-gradient-very-light-gray">
  <div class="container">
    <div class="row align-items-center justify-content-center" data-anime='{ "el": "childs", "translateY": [-15, 0], "opacity": [0,1], "duration": 300, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'>
      <div class="col-12 col-xl-8 col-lg-10 text-center position-relative page-title-extra-large">
       
        <h3 class="alt-font fw-600 text-dark-gray mb-10px">{% trans "Activation link sent! Please check your mail." %}</h3>  
    </div>
    </div>
  </div>
</section>
{% endblock %}
