{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}<!---->
{% load i18n %}
<br /><br /><br /><br /><br />
<div class="container mt-5 login-div border p-4 col-5">
  <!-- Display form errors -->
  {% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
    <strong>error</strong>
    <ul>
      {% for error in form.non_field_errors %}
      <li>{% trans error %}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <div class="container text-center" style="width: 80%; margin: 0 auto">
    <h1>Password Reset Form</h1>
    <h6 style="width: 60%; margin: 0 auto">
      {% trans "Please enter your new password so we can verify." %}
    </h6>
  </div>
  <br />
  <div class="r">
    <form action="" method="POST" class="needs-validation" novalidate>
      {% csrf_token %} {{ form|crispy }}
      <button class="btn btn-primary mt-4" type="submit">
        {% trans "Reset Password" %}
      </button>
    </form>
  </div>
</div>
<br /><br /><br /><br /><br /><br /><br /><br />
{% endblock %}
