{% extends 'base.html' %} {% block content %}
<!---->
{% load i18n %}
<br /><br /><br /><br /><br /><br /><br /><br />
<div class="container mt-5 login-div border p-4">
  <div class="container text-center" style="width: 80%; margin: 0 auto">
    <h1>Password Reset Sent</h1>
    <h5>
      {% trans "We’ve emailed you instructions for setting your password" %}
    </h5>
    <br />
    <h6 style="width: 60%; margin: 0 auto"></h6>
  </div>
  <div class="text-center mt-4">
    <a href="{% url 'home' %}" class="btn btn-link"
      >{% trans "Return to Home Page" %}</a
    >
  </div>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
{% endblock %}
