{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}
<!---->
{% load i18n %}
<div class="container mt-5">
  <div class="container mt-5 p-2">
    {% if messages %} {% for message in messages %}
    <div
      class="alert alert-{{ message.tags }} alert-dismissible fade show"
      role="alert"
    >
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endif %}
  </div>
  <div class="row pb-5">
    <div class="col-12 col-md-6">
      <div class="d-flex flex-row mt-5">
        <div class="media-body mt-5">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
          <a
            class="btn btn-warning text-weight-bold mb-4"
            href="{% url 'my_orders' %}"
            >{% trans "MY ORDERS" %}</a
          >
        </div>
      </div>
      <div class="p-3 p-md-5 border profile_div">
        <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <legend class="border-bottom mb-4">{% trans "Profile Info" %}</legend>
          {{ u_form|crispy }} {{ p_form|crispy }}
          <div class="d-flex justify-content-between">
            <button class="btn btn-outline-info mt-4" type="submit">
              {% trans "Update" %}
            </button>
            <a class="mt-5" href="{% url 'update_password' %}"
              >{% trans "Update your password" %}</a
            >
          </div>
        </form>
      </div>
    </div>
    <div class="col-12 col-md-6 mt-5">
      <div class="border p-3 p-md-5">
        <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <legend class="border-bottom mb-4">
            <h3>{% trans "Shipping Info" %}</h3>
          </legend>
          {{ shipping_info|crispy }}
          <div class="d-flex justify-content-between">
            <button class="btn btn-outline-info mt-4" type="submit">
              {% trans "Update" %}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
