{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}<!---->
{% load i18n %}
<br /><br /><br /><br /><br />
<div class="container mt-5 p-5 border col-5">
  <h2 class="mb-4 mt-5 text-center">{% trans "Password Reset" %}</h2>
  <div class="text-center">
    <h5>{% trans "Forgot your password? Enter your email." %}</h5>
  </div>

  <form method="POST" class="needs-validation" novalidate>
    {% csrf_token %}

    <!-- Email -->
    <div class="mb-3">
      {{ form.email|as_crispy_field }}
      <div class="invalid-feedback">{{ form.email.errors|join:", " }}</div>
    </div>

    <button class="btn btn-primary btn-block mt-4" type="submit">
      {% trans "Send Email" %}
    </button>

    <div class="mt-4 text-center">
      <a href="{% url 'home' %}" class="btn btn-link"
        >{% trans "Return to Home Page" %}</a
      >
    </div>
  </form>
</div>
<br /><br /><br /><br /><br /><br /><br />
{% endblock %}
