{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}<!---->
{% load i18n %}
<br><br><br><br>
<div class="container mt-5">
  {% if messages %} {% for message in messages %}
  <div
    class="alert alert-{{ message.tags }} alert-dismissible fade show"
    role="alert"
  >
    {{ message }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endfor %} {% endif %}
</div>
<div class="container col-5 border p-5 my-5 mb-5">
  <form method="post" class="needs-validation">
    {% csrf_token %} {{ form|crispy }}
    <button type="submit" class="btn btn-primary btn-block mt-4">
      {% trans "update password" %}
    </button>
  </form>
</div>
{% endblock %}
